#loader
{
	background-color: rgba( 255, 255, 255, 0.5 ); 
	height: 100vh; 
	left: 0;
	position: fixed; 
	top: 0; 
	width: 100%; 
	z-index: 10000; 
}

.custom-file-input ~ .custom-file-label::after 
{
	content: "Elegir";
}

.loader
{
	-webkit-transform: translate( -50%, -50% );
	left: 50%; 
	position: absolute; 
	top: 50%; 
	transform: translate( -50%, -50% ); 
}
